{% extends "base.html" %}
        <!-- BEGIN MAIN -->
        {% block content %}
         {% load static %}
        <main class="main">              

            <!-- BEGIN ABOUT COMPANY -->
            <article class="about-company wrapper">
                <div class="about-company__cols">
                    <div class="about-company__col">
                        <section class="about-section">
                            <h3 class="about-section__title">the beginning of our journey</h3>
                            <span class="about-section__year">2010</span>
                            <p class="about-section__text">In 2010, our company celebrated its 10th anniversary - these are the years of acquired experience of trading around the world. <br>Join us among our clients! You can buy only original things from us. We offer products of your favorite brands - clothes, shoes, accessories, textiles and much more - quality products for every taste and age from Europe.</p>
                        </section>
                    </div>
                    <div class="about-company__col">
                        <div class="about-stats">
                            <h3 class="collection-title">
                                <span class="collection-title__count">2587</span>
                                <span class="collection-title__plus">+</span>
                                <span class="collection-title__text">Products for you</span>
                            </h3>
                            <img class="about-stats__vector" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="{% static 'img/svg/vector-about.svg' %}" alt="">
                        </div>
                    </div>
                    <div class="about-company__col">
                        <div class="about-stats about-stats_bottom">
                            <h3 class="collection-title">
                                <span class="collection-title__count">5649</span>
                                <span class="collection-title__plus">+</span>
                                <span class="collection-title__text">Satisfied clients</span>
                            </h3> 
                            <img class="about-stats__vector" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="{% static 'img/svg/vector-about.svg' %}" alt="">
                        </div>
                    </div>
                    <div class="about-company__col">
                        <section class="about-section">
                            <h3 class="about-section__title">who are we now?</h3>
                            <span class="about-section__year">2020</span>
                            <p class="about-section__text">We now have a team of more than 1,000 skilled workers and about 167 clothing brands that cooperate with us. Ordering in our store is a saving of time and effort to find what you need; assistance of experienced consultants in choosing a model. <br>Our specialists will help you specify your European size, tell you about fabrics and materials.</p>
                        </section>                            
                    </div>                                                    
                </div>                
            </article>
            <!-- ABOUT COMPANY END -->

            <!-- BEGIN DEAL OF THE WEEK -->
            <section class="inner-deal">
                <div class="inner-deal__cols wrapper">
                    <div class="inner-deal__left">
                        <div class="inner-deal__image" data-bg="https://via.placeholder.com/1040x800"></div>
                    </div>
                    <div class="inner-deal__right">
                        <span class="inner-deal__subtitle category-subtitle"><b>deal</b> of the month</span>
                        <h3 class="inner-deal__title">multi-brand <br>store of clothes</h3>
                        <p class="inner-deal__text">We follow fashion trends and have been working for you for more than 20 years. A selection of the best, interesting, and most importantly, boring outfits for different occasions.</p>
                        <a class="inner-deal__button button" href="shop.html">
							<span class="button__text">Shop now</span>
						</a>
                    </div>
                </div>
            </section>
            <!-- BEGIN DEAL OF THE WEEK END -->              

            <!-- BEGIN ADVANTAGES -->
            <div class="advantages wrapper">
                <div class="advantages__list">
                    <article class="advantage">
                        <div class="advantage__content">
                            <div class="advantage__icon-wrap">
                                <img class="advantage__icon" src="{% static 'img/24/free_shipping.png '%}" alt="">
                            </div>
                            <h4 class="advantage__title">Free Shipping</h4>
                            <div class="advantage__line"></div>
                            <p class="advantage__text">Non aliqua reprehenderit reprehenderit culpa laboris nulla minim anim velit</p>
                        </div>
                        <img class="advantage__bg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="{% static 'img/svg/vector-advantages.svg '%}" alt="">
                    </article>
                    <article class="advantage">
                        <div class="advantage__content">
                            <div class="advantage__icon-wrap">
                                <img class="advantage__icon" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="{% static 'img/24/7.png '%}" alt="">
                            </div>
                            <h4 class="advantage__title">24/7 Customer Service</h4>
                            <div class="advantage__line"></div>
                            <p class="advantage__text">Non aliqua reprehenderit reprehenderit culpa laboris nulla minim anim velit </p>
                        </div>
                        <img class="advantage__bg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="{% static 'img/svg/vector-advantages.svg '%}" alt="">
                    </article>
                    <article class="advantage">
                        <div class="advantage__content">
                            <div class="advantage__icon-wrap">
                                <img class="advantage__icon" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="{% static 'img/24/garunthe.png '%}" alt="">
                            </div>
                            <h4 class="advantage__title">Money Back Guarantee</h4>
                            <div class="advantage__line"></div>
                            <p class="advantage__text">Non aliqua reprehenderit reprehenderit culpa laboris nulla minim anim velit </p>
                        </div>
                        <img class="advantage__bg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="{% static 'img/svg/vector-advantages.svg '%}" alt="">
                    </article>                                        
                </div>
            </div>
            <!-- ADVANTAGES END -->            

            <!-- BEGIN BRANDS -->
            <div class="brands-block wrapper">
                <ul class="brands">
                    <li class="brands__item">
                        <a class="brands__link" href="#">
                            <div class="brands__cell">
                                <img class="brands__logo brands__logo_1" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/184x76" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="brands__item">
                        <a class="brands__link" href="#">
                            <div class="brands__cell">
                                <img class="brands__logo brands__logo_2" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/159x85" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="brands__item">
                        <a class="brands__link" href="#">
                            <div class="brands__cell">
                                <img class="brands__logo brands__logo_3" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/138x116" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="brands__item">
                        <a class="brands__link" href="#">
                            <div class="brands__cell">
                                <img class="brands__logo brands__logo_4" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/188x106" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="brands__item">
                        <a class="brands__link" href="#">
                            <div class="brands__cell">
                                <img class="brands__logo brands__logo_5" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/161x82" alt="">
                            </div>
                        </a>
                    </li>                                                                                
                </ul>
            </div>
            <!-- BRANDS END -->

        </main>
        {% endblock content %}